- stash(
-   title => l('About Us'),
- );

%div{:itemscope :itemtype=>'http://schema.org/Organization'}
  .grd-grid-12.grd-parent
    .grd-grid-2.grd-grid-mobile-8.grd-centered-mobile
      %img.responsive{:src => url_for('images/pages/about/logo-blue.svg')}
    .grd-grid-9.grd-grid-mobile-12.grd-push-1
      %h1= l('About Us')
      %p
        != l('The <span itemprop="brand">[_1]</span> service (formerly known as BetOnMarkets.com) is owned and operated by the Regent Markets Group of companies. Fully licensed and regulated, [_1] has been providing financial trading to a worldwide audience of over 300,000 clients since <span itemprop="foundingdate">1999</span>', stash->{website_name}) . "."
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12.grd-parent.grd-row-padding
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-7.grd-grid-mobile-11.grd-centered.grd-row-padding
        %img.responsive{:src => url_for('images/pages/about/rmg-logo.svg')}
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-12.grd-row-padding
        %h2{:itemprop=>'legalname'}= 'Regent Markets Group'
        %p
          != l("Regent Markets Group Limited, with registered office address situated at <span itemprop='location'>47 Esplanade, St. Helier, Jersey, JE 0BD Channel Islands</span>, is partly owned by the [_1], a diversified mining group focused on the Asian Pacific region and listed on the Hong Kong exchange [_2].", "<a target='_blank' href='http://www.regentpac.com/'>Regent Pacific Group Limited</a>", "<a target='_blank' href='https://www.google.com/finance?q=HKG%3A0575'>(share price)</a>")
    .grd-grid-6.grd-grid-mobile-12.grd-parent.grd-row-padding
      .grd-grid-4.grd-grid-mobile-6.grd-centered.grd-row-padding
        %a(href='http://www.gov.im/gambling/' target="_blank" )
          %img.responsive{:src => url_for('images/pages/footer/isle-of-man.png')}
      .grd-grid-12.grd-row-padding
        %h2= 'Regent Markets (IOM) Ltd'
        %p= l('Regent Markets (IOM) Ltd, First Floor, Millennium House, Victoria Road, Douglas, Isle of Man, IM2 4RW. Licenced and regulated by the Gambling Supervision Commission in the Isle of Man. Current online gambling licence granted on the 31 August 2012.')
          %p= l('UK and Manx residents will have their account opened with Regent Markets (IOM) Ltd.')
  .grd-grid-12.grd-parent
    .grd-grid-6.grd-grid-mobile-12
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-12.grd-centered.grd-row-padding
      .grd-grid-6.grd-grid-mobile-8.grd-centered.grd-row-padding
        %a(href='http://www.lga.org.mt' target="_blank" )
          %img.responsive{:src => url_for('images/pages/why-us/why-us-authority-malta-gray.svg')}
      .grd-grid-12.grd-row-padding
        %h2= 'Regent Markets (Malta) Ltd'
        %p= l('Regent Markets (Malta) Ltd, Mompalao Building, Suite 2, Tower Road, Msida MSD1825, Malta. Licenced and regulated by the Lotteries and Gaming Authority in Malta, licence no LGA/CL2/118/2000.')
        %p= l('European Union residents with the exception of the UK will have their account opened with Regent Markets (Malta) Ltd.')
    .grd-grid-6.grd-grid-mobile-12
      .grd-grid-4.grd-grid-mobile-6.grd-centered.grd-row-padding
        %img.responsive{:src => url_for('images/pages/about/costa-rica.png')}
      .grd-grid-12.grd-row-padding
        %h2= 'Regent Markets (C.R.) S.A.'
        %p= l('Regent Markets (C.R.) S.A., registered in Costa Rica.')
        %p= l('Clients from the rest of the world will have their account opened with Regent Markets (C.R.) S.A.')
