- stash(title => l('Login'));
.grd-row-padding
%h1= stash->{title}
%br
%form{:action => url_for('/login'), :method => 'POST'}
  %fieldset
    %legend= l('Your details')
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-4.form_label
        %label{:for => "loginid"}= l('Login ID')
      .grd-grid-8
        %input#loginid{:type => 'text', :name => 'loginid', :placeholder => "#{l('Login ID')}"}
        - if (flash('error') and flash('error')->{loginid}) {
          %p.errorfield= flash('error')->{loginid}
        - }
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-4.form_label
        %label{:for => "password"}= l('Password')
      .grd-grid-8
        %input#loginid{:type => 'password', :name => 'password', :placeholder => "#{l('Password')}"}
        - if (flash('error') and flash('error')->{password}) {
          %p.errorfield= flash('error')->{password}
        - }
    .grd-parent.grd-grid-12
      .grd-grid-4
      .grd-grid-8
        %span.button
          %button#submit.button{:name => "submit" :type => "submit"}= l('Login')

%p
  %a.pjaxload#lost-password{:href=>url_for('lost_password.cgi')}= l('Forgot Login ID or Password?')
  = ' | '
  %a.pjaxload#lost-password{:href=>url_for('logintrouble.cgi')}= l('Login Trouble')
