- stash(title => l('Random Markets'));

.grd-container
  .random-markets.static_full
    .grd-grid-3.grd-hide-mobile
      .sidebar
        %ul#sidebar-nav
          %li#sidebar-link-section-1.selected
            %a{:href => "#what-are-random-markets"}= l('How to trade the random markets?')
          %li#sidebar-link-section-2
            %a{:href => "#random-indices"}= l('Random indices')
          %li#sidebar-link-section-3
            %a{:href => "#random-quotidians"}= l('Random quotidians')
          %li#sidebar-link-section-4
            %a{:href => "#random-nocturnes"}= l('Random nocturnes')
          %li#sidebar-link-section-5
            %a{:href => "#random-download"}= l('Download data')
        .sidebar-button
          %a.pjaxload{:href => url_for('trade.cgi?market=random')}= l('Place a random trade')
    .grd-grid-9.grd-grid-mobile-12.grd-parent
      .section
        %a#what-are-random-markets
        .section-content
          #section-1
            .grd-grid-12
              %h1= l('How to trade the random markets?')
              %p= l('[_1] has created random indices that you can trade 24/7. You can trade randoms on all types of contract:', stash->{website_name});
            .grd-grid-7.grd-grid-mobile-12
              %ul.checked
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=random&form_name=risefall")}= l('Rise/Fall')
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=random&form_name=higherlower")}= l('Higher/Lower')
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=random&form_name=touchnotouch")}= l('Touch/No Touch')
                %li!= l('In/Out (<a href="[_1]">ends between/outside</a> and <a href="[_2]">stays between/goes outside</a>)', url_for("trade.cgi?market=random&form_name=endsinout"), url_for("trade.cgi?market=random&form_name=staysinout"))
                %li
                  %a.pjaxload{:href=>url_for("trade.cgi?market=random&expiry_type=duration&form_name=risefall&underlying_symbol=R_100&time=5t")}= l('Tick trades')
            .grd-grid-5.grd-grid-mobile-12
              %img.responsive{:src => url_for('images/pages/get-started/get-started-random-markets.svg')}
            .clearfix
      .section
        %a#random-indices
        .section-content
          #section-2
            .grd-grid-12
              %h1= l('Random Indices')
              %p
                != l('[_1]\'s Random Indices are the [_2], [_3], [_4], and [_5]. These indices correspond to volatilities of 25%, 50%, 75% and 100%', stash->{website_name}, pjax_link_for(l('Random 25 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_25')), pjax_link_for(l('Random 50 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_50')), pjax_link_for(l('Random 75 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_75')), pjax_link_for(l('Random 100 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_100')))
            #random-indices-container
              .grd-grid-8.grd-grid-mobile-12
                %p
                  != l('The [_1] is twice as volatile as the [_2], and four times as volatile as the [_3].', pjax_link_for(l('Random 100 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_100')), pjax_link_for(l('Random 50 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_50')), pjax_link_for(l('Random 25 Index'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=R_25')))
              .grd-grid-4.grd-grid-mobile-12
                %img.responsive{:src => url_for('images/pages/get-started/get-started-random-indices.svg')}
            .clearfix
      .section
        %a#random-quotidians
        .section-content
          #section-3
            .grd-grid-12
              %h1= l('Random quotidians')
              %p.heading= l('Don’t be put off by the name. Quotidian just means something that happens everyday.')
              %p
                != l('[_1] are markets that reset back to a price of 1000 at the start of each trading day (00:00:00 GMT), and all trades settle before the end of the trading day (23:59:59 GMT).', pjax_link_for(l('Random Quotidians'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDBEAR')))
            #random-quotidians-container
            .grd-grid-6.grd-grid-mobile-12.grd-parent
              .grd-grid-6.grd-centered
                %img.responsive.img-with-height{:src => url_for('images/pages/get-started/get-started-bull-bear.svg')}
              .grd-grid-12
                %p
                  != l('The [_1] simulates a bullish market (it tends to move up). The [_2] simulates a bearish market (it tends to move down).', pjax_link_for(l('Random Bull'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDBULL')), pjax_link_for(l('Random Bear'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDBEAR')))
            .grd-grid-6.grd-grid-mobile-12.grd-parent
              .grd-grid-6.grd-centered
                %img.responsive.img-with-height{:src => url_for('images/pages/get-started/get-started-moon-sun.svg')}
              .grd-grid-12
                %p
                  != l('The [_1] simulates a market that gets more volatile as the day progresses (and then more quiet at night). The [_2] simulates a market that is quiet during the day (but becomes more volatile at night).', pjax_link_for(l('Random Sun'), url_for('trade.cgi?market=random&form_name=risefall&payout=100&underlying_symbol=RDSUN')), pjax_link_for(l('Random Moon'), url_for('trade.cgi?market=random&form_name=risefall&payout=100&underlying_symbol=RDMOON')))
            .clearfix
      .section
        %a#random-nocturnes
        .section-content
          #section-4
            .grd-grid-12
              %h1= l('Random nocturnes')
              %p
                != l('Like [_2], [_1] reset back to a price of 1000 each day. The difference is that [_1] reset at 12PM GMT, ([_2] reset at 00:00:00 GMT).', pjax_link_for(l('Random Nocturnes'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDYANG')), pjax_link_for(l('Random Quotidians'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDBEAR')))
                != l('If you\'re in Asia, you may find [_1] more attractive because they reset around the time Asian markets close.', pjax_link_for(l("Random Nocturnes"), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDYANG')))
            .grd-grid-6.grd-grid-mobile-12.grd-parent
              .grd-grid-6.grd-centered
                %img.responsive.img-with-height{:src => url_for('images/pages/get-started/get-started-yin-yang.svg')}
              .grd-grid-12
                %p
                  != l('The [_1] simulates a bearish market. The [_2] simulates a bullish market.', pjax_link_for(l('Random Yin'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDYIN')), pjax_link_for(l('Random Yang'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDYANG')));
            .grd-grid-6.grd-grid-mobile-12.grd-parent
              .grd-grid-6.grd-centered
                %img.responsive.img-with-height{:src => url_for('images/pages/get-started/get-started-mars-venus.svg')}
              .grd-grid-12
                %p
                  != l('The [_1] simulates a market that is active during the day (but becomes less volatile at night). The [_2] simulates a market that is quiet during the day (but becomes more volatile at night).', pjax_link_for(l('Random Mars'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDMARS')), pjax_link_for(l('Random Venus'), url_for('trade.cgi?market=random&form_name=risefall&underlying_symbol=RDVENUS')));
            .clearfix
      .section
        %a#random_download
        .section-content
          #section-5
            .grd-grid-12.grd-row-padding
              %h1= l('Raw tick data')
              %p
                != l('To promote transparency and third-party analysis of our [_1] time series, [_2] provides access to tick-by-tick data for all the [_1].', pjax_link_for(l('Random Markets'), url_for('trade.cgi?market=random&form_name=risefall')), stash->{website_name});
              %p= l('Download the Random Markets raw tick data here.')
              %select#random_download_indices
                %option{:value => 'default'}= l('Select indices')
              %select#random_download_week{:style => 'display: none'}
              %a{:class => 'button', :href => 'javascript:void(0)', :id => 'download_random_data', :style =>'display: none'}
                %span= l('Download')
            .grd-grid-12.grd-row-padding
            .clearfix
