- stash(title => l('Spreads'));
.section-content.section-1
  .grd-grid-12
    %h1= stash->{title}
    .grd-grid-12
      %p= l('Binary.com’s Spread Contracts are leveraged derivative contracts, the value of which is directly tied to the underlying market movements.  Clients who “Long” a rising market (and those who “Short” a falling market) profit from those movements with much less investment than would be required in the live market.')
      %p= l('Binary.com’s Spread Contracts require a ‘stop loss’ which limits the maximum losses incurred by a client. This ‘stop loss’ amount will act as a deposit and may not be used for further trading until that Spread Contract is closed. Spread Contracts are closed when sold by the client, upon hitting the ‘stop loss’ or \'spot profit\' level.')
      %p= l('Example:')
      %p= l('Assume the current value of an instrument XYZ is 100 and Binary.com’s spread on this instrument is 2 points:')
    .grd-grid-12
      %img.responsive{:src => url_for('images/pages/get-started/spreadbet-howto.png')}
    .grd-grid-5.grd-centered
      %p= l("spread: 2 points")
    .grd-grid-12
      %p= l('The client decides to go ‘Short’ on the market at 99 with an ‘amount per point’ of 10 USD and a ‘stop loss’ of 5 points.')
      %p= l('If the value of XYZ moves to 95, the contract would be valued at 30 USD: (99 - 96) * 10 USD. A move to 103 would result in a similar 50 USD loss: (104 - 99) * 10 USD.')
      %p= l('Potential profit and losses are limited to stop profit and stop loss levels respectively.')
