- stash(title => l('API Token'));
.grd-grid-12
  %h1= stash->{title}
  %p= l('[_1] provides Application Programming Interface (API) facilities to third-party developers.', stash->{website_name})
  %p= l('Notice: please only share your API token with third-parties which you trust.')

  - if ($tokens and @$tokens) {

    .grd-parent.grd-grid-12.table-header.grd-row-padding
      %div.grd-grid-4.grd-hide-mobile.grd-grid-phablet-3= l('Display Name')
      %div.grd-grid-2.grd-grid-phablet-3= l('Token')
      %div.grd-grid-3.grd-hide-mobile.grd-grid-phablet-3= l('Last Used')
      %div.grd-grid-3.grd-hide-mobile.grd-grid-phablet-3= l('Action')

    - foreach my $tr (@$tokens) {
      .grd-parent.grd-grid-12.table-body.table-body-lines.grd-row-padding
        %div.grd-grid-4.grd-hide-mobile.grd-grid-phablet-3= $tr->{display_name}
        %div.grd-grid-2.grd-grid-phablet-3= $tr->{token}
        .grd-grid-3.grd-hide-mobile.grd-grid-phablet-3
          - if ($tr->{last_used}) {
            %span= $tr->{last_used};
          - } else {
            %span= l('Never Used');
          - }
        .grd-grid-3.grd-hide-mobile.grd-grid-phablet-3
          %form{:action => url_for('user/api_token'), :method => 'POST'}
            %input{:type => 'hidden', :name => 'csrftoken', :value => stash('csrftoken')}
            %input{:type => 'hidden', :name => 'token', :value => "#{$tr->{token}}"}
            %input{:type => 'hidden', :name => 'action', :value => 'delete'}
            %button#submit.button{:name => "submit" :type => "submit"}= l('Delete')
    - }

  - }

  - if (! ($tokens and length(@$tokens) >= 20)) {
    .grd-grid-12.grd-row-padding
      %h3= l('Create New Token')
      %form{:action => url_for('user/api_token'), :method => 'POST'}
        %input{:type => 'hidden', :name => 'csrftoken', :value => stash('csrftoken')}
        %fieldset
          .grd-parent.grd-grid-12.grd-row-padding
            .grd-grid-4.form_label
              %label{:for => "display_name"}= l('Display Name')
            .grd-grid-8
              %input#display_name{:type => 'text', :name => 'display_name', :max_length => 64}
              - if (stash('error') and stash('error')->{display_name}) {
                %p.errorfield= stash('error')->{display_name}
              - }
          .grd-parent.grd-grid-12
            .grd-grid-4
            .grd-grid-8
              %span.button
                %button#submit.button{:name => "submit" :type => "submit"}= l('Create')
  - }