%div
  %h1= l('Balances')
  - if (@$client_balances > 0) {
    %table
      %tr
        %th= l('Login ID')
        %th= l('Currency')
        %th= l('Balance')
      - for my $balance (@{$client_balances}) {
          %tr
            %td= $balance->{loginid}
            %td= $balance->{currency}
            %td= $balance->{balance}
      - }
  - } else {
    %p
      %label= l('No available balance for your account')
  - }
%div
  %span.button
    %button.button{:bcont => 1}= l('Continue Trading')
