%div#balances-content
  %h1= l('Balances')
  %p
  - if (@$client_balances > 0) {
    %table
      %tr
        %th= l('Login ID')
        %th= l('Currency')
        %th= l('Balance')
      - for my $balance (@{$client_balances}) {
          %tr
            %td= $balance->{loginid}
            %td= $balance->{currency}
            %td= $to_monetary_number_format->($balance->{balance})
      - }
  - } else {
    %p
      %label= l('No available balance for your account')
  - }
%div#balances-nav
  %span.button
    %button.button{:bcont => 1}= l('Continue Trading')
