- stash(title => l('Password reset'));
.grd-grid-12.static_full
  %h1= stash->{title}
  %p= l("Thank you. You're one step closer to being done!")
  %p= l("You will receive an email shortly to the specified email address if your account exists with [_1].", stash->{website_name})
  %p!= l("All you need to do is follow the instructions in the email we just sent you. The e-mail subject-line reads, <strong>New Password Request</strong>.")
  %p= l("If you don't receive the email within the next few minutes, please check your junk/spam mail folder.")
  %p!= l("<a href='[_1]' class='pjaxload'>Contact us</a> should you need further assistance.", url_for('contact'))
