%div#reality-check-content
  %h1= l('Reality Check')
  - my @tm = gmtime $login_time;
  - my $time = time;
  - my $dur = $time - $login_time;
  - my $days = int($dur / (24 * 3600)); $dur = $dur % (24 * 3600);
  - my $hours = int($dur / 3600); $dur = $dur % 3600;
  - my $minutes = int($dur / 60);
  - my @curtm = gmtime $time;
  %p
    %label= l('Login time:')
    = sprintf('%04d-%02d-%02d %02d:%02d:%02d GMT', $tm[5]+1900, $tm[4]+1, @tm[3,2,1,0])
  %p
    %label= l('Current time:')
    = sprintf('%04d-%02d-%02d %02d:%02d:%02d GMT', $curtm[5]+1900, $curtm[4]+1, @curtm[3,2,1,0])
  %p
    %label= l('Session duration:')
    = l('[_1] [plural,_1,day,days] [_2] [plural,_2,hour,hours] [_3] [plural,_3,minute,minutes]', $days, $hours, $minutes)
  %p= l('Your trading statistics ' . ($mode eq 'login' ? 'since login' : 'for the recent 48 hours') . ' for [_1]', join( ', ', map {$_->[0]} @$summary))
  %table
    %tr
      %th= l('Login ID')
      %th= l('Currency')
      %th= l('Turnover')
      %th= l('Profit / Loss')
      %th= l('Contracts bought')
      %th= l('Contracts sold')
      %th= l('Open contracts')
      %th= l('Potential profit')
    - for my $data (@$summary) {
      - for my $el (@{$data->[1]}) {
        - my $pl = $el->{sell_amount} >= $el->{buy_amount} ? 'profit' : 'loss';
        %tr
          %td= $data->[0]
          %td= $el->{currency_code}
          %td= $to_monetary_number_format->($el->{buy_amount})
          %td{:class => $pl}= $to_monetary_number_format->($el->{sell_amount} - $el->{buy_amount})
          %td= $el->{buy_count}
          %td= $el->{sell_count}
          %td= $el->{open_cnt}
          %td= $to_monetary_number_format->($el->{pot_profit})
      - }
    - }
  %p
    %label= l('Reality Check Interval:')
    %input{:type => 'number' :interval => 1 :size => '6' :maxlength => '4' :id =>'realityDuration' :min => 1}
    %span= l('minutes')
  %p.msg{:style => 'display:none; color:red;'}= l('Please enter a number greater than 0');
%div#reality-check-nav
  %span.button
    %button#continue.button{:bcont => 1}= l('Continue Trading')
  %span
  %a#btn_logout.button
    %span.logout= l('Logout')
