- stash(
-   title => l('Resources'),
- );

.grd-grid-12
  %h1= l('Resources')
  %p= l('Looking to learn more about the markets or financial trading? Check out the resources below!')
.grd-grid-6.grd-grid-mobile-12.grd-parent
  .grd-grid-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('asset_index.cgi'), :id => 'asset-index'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('pages/resources/asset-index.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('asset_index.cgi')}= l('Asset Index')
      %p= l('View full list of assets, contract types and available durations.')
  .grd-grid-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('trading_times.cgi'),:id => 'trading-times'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('pages/resources/trading-times.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('trading_times.cgi')}= l('Trading Times')
      %p= l('View operating hours for the markets on which contracts can be placed.')
.grd-grid-6.grd-grid-mobile-12.grd-parent
  .grd-grid-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('contract_guide.cgi'),:id => 'contract-guide'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('pages/resources/contract-guide.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('contract_guide.cgi')}= l('Contract Guide')
      %p= l('Learn about the types of contracts available.')
  .grd-grid-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('pricing_table.cgi'),:id => 'pricing-table'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('pages/resources/pricing-table.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('pricing_table.cgi')}= l('Pricing Table')
      %p= l('View contract prices across a range of barriers and durations.')
.grd-grid-6.grd-grid-mobile-12.grd-parent.grd-clear
  .grd-grid-6.grd-parent
    .grd-grid-8.grd-with-padding
      %a.pjaxload{:href => url_for('rise_fall_table.cgi'),:id => 'contract-guide'}
        %img#charting_icon.responsive.charting-page-icon{:src => url_for('pages/resources/rise-fall-table.svg')}
    .grd-grid-12
      %h4
        %a.pjaxload{:href => url_for('rise_fall_table.cgi')}= l('Rise/Fall Table')
      %p= l('View Rise/Fall contract prices across a range of markets.')
