.tab-menu-wrap.grd-container.grd-hide-mobile.grd-hide-phablet
  .grd-grid-12
    %ul{:class=>'items'}
      - foreach my $item (@{ menu()->main_menu }) {
        - my ($id, $url, $text) = @{$item}{'id', 'url', 'text'};
        - my $class = $item->{'class'};
        - my $link_class = $item->{'link_class'};
        - my $sub_items = $item->{sub_items} || '';
        - if ($class) {
        %li{:id=>"#{$id}", :class=>"item #{$class}"}
        - } else {
        %li{:id=>"#{$id}", :class=>"item"}
        - }
          - if ($link_class) {
          %a{:class=>"link #{$link_class}", :href=>"#{$url}"}= $text
          - else {
          %a{:class=>"link", :href=>"#{$url}"}= $text
          - }
          - if ($sub_items) {
            %ul{:class=>"sub_items"}
              - foreach my $sub_item (@{ $sub_items }) {
              - my ($sub_id, $sub_url, $sub_text) = @{$sub_item}{'id', 'url', 'text'};
              - my $sub_class = $sub_item->{'class'};
              - my $link_sub_class = $sub_item->{'link_class'};
                - if ($sub_class) {
                %li{:id =>"#{$sub_id}", :class=>"sub_item #{$sub_class}"}
                - } else {
                %li{:id =>"#{$sub_id}", :class=>"sub_item"}
                - }
                  - if ($link_sub_class) {
                  %a{:class=>"link #{$link_sub_class}", :href=>"#{$sub_url}"}= $sub_text
                  - else {
                  %a{:class=>"link", :href=>"#{$sub_url}"}= $sub_text
                  - }
              - }
          - }
      - }
