#topbar
  .grd-container
    .grd-parent
      .grd-grid-6.grd-grid-mobile-12.by_client_type.client_virtual{ :id => 'virtualupgrade', :style => 'display: none;'}
        %span.grd-hide-mobile
          %span= l('You\'re using a virtual money account.')
        %a.pjaxload.with_login_cookies{:href =>url_for("linkto_acopening.cgi?actype=real") }= l('Upgrade to a real money account')
      .grd-grid-6.grd-grid-mobile-12.grd-parent#topbar-info
        .grd-grid-5.grd-grid-mobile-7#gmt-clock
        .grd-grid-3.grd-hide-mobile#contact-us
          %a.pjaxload.with_login_cookies{:href=>url_for("contact.cgi")}= l('Contact Us')
          - my $languages = available_languages();
          - my $sel_code = stash->{language};
          - my $sel_name = $languages->{$sel_code};
        .grd-grid-4.grd-grid-mobile-5
          %span{:class => $sel_code, id => 'language_select'}
            %select
              - foreach (keys %{ $languages }) {
                - my ($code, $name) = ($_, $languages->{$_});
                - if ($code ne $sel_code) {
                  %option{:class => $code}= $name
                - } else {
                  %option{:class => $code, :selected => 'selected'}= $name
                - }
              - }
