- stash(title => l('OTC Indices and Stocks'));

.grd-container.grd-default-container
  .otc-indices.static_full
    .grd-grid-3.grd-hide-mobile
      .sidebar
        %ul#sidebar-nav
          %li#sidebar-link-section-1.selected
            %a{:href => "#what-are-the-otc-indices-and-stocks"}= l('What are the OTC Indices and Stocks?')
    .grd-grid-9.grd-grid-mobile-12.grd-parent
      .section
        %a#what-are-the-otc-indices-and-stocks
        .section-content
          #section-1
            .grd-grid-12
              %h1= l('What are OTC indices and stocks?')
              %p= l('[_1]\'s OTC Indices and stocks offer the benefit of real-time charts and pricing. Enjoy even more exciting opportunities to trade our featured market indices and stocks through this new real-time offering.', stash->{website_name});
              %p= l('[_1]\'s OTC Indices and stocks are sourced from the over-the-counter market and provide you with an alternative means of trading stock indices and stocks - available from sources outside of the centralised exchanges.', stash->{website_name});
              %p= l('Please note that due to their over-the-counter nature, the prices of the OTC Indices and stocks will differ from the prices of the corresponding indices and stocks on centralised exchanges.');
