- stash(title => l('Login'));
.grd-row-padding
%h1= stash->{title}
%br
%form{:action => url_for('/login'), :method => 'POST'}
  %fieldset
    %legend= l('Your details')
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-4.form_label
        %label{:for => "email"}= l('Email')
      .grd-grid-8
        %input#email{:type => 'text', :name => 'email', :placeholder => "#{l('Email')}"}
        - if (flash('error') and flash('error')->{email}) {
          %p.errorfield= flash('error')->{email}
        - }
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-4.form_label
        %label{:for => "password"}= l('Password')
      .grd-grid-8
        %input#password{:type => 'password', :name => 'password', :placeholder => "#{l('Password')}"}
        - if (flash('error') and flash('error')->{password}) {
          %p.errorfield= flash('error')->{password}
        - }
    .grd-parent.grd-grid-12
      .grd-grid-4
      .grd-grid-8
        %span.button
          %button#submit.button{:name => "submit" :type => "submit"}= l('Login')

%p
  %a.pjaxload#lost-password{:href=>url_for('/user/lost_passwordws')}= l('Forgot Login ID or Password?')
  = ' | '
  %a.pjaxload#lost-password{:href=>url_for('/user/logintrouble')}= l('Login Trouble')
  = ' | '
  %a.pjaxload#create-account{:href=>url_for('/')}= l('Open an Account')
