%div{class => 'grd-hide grd-show-mobile grd-show-phablet', id => 'mobile-menu-container'}
  %div.grd-hide#mobile-menu
    %ul
      - my @top_nav = ({route => '/why-us', text => l('Why Us?')}, {route => '/get-started', text => l('Get Started')}, {route => '/tour', text => l('Tour')},);
      - foreach my $menu_item (@top_nav) {
        - my ($route, $text) = ($menu_item->{route}, $menu_item->{text});
        - my $menu_class = (index(url_for, $route) != -1) ? 'active' : '';
        %li.$menu_class
          %a{:href=>url_for($route), :class => 'pjaxload'}= $text
      - }
      - foreach my $trade_item (@{ menu()->main_menu }) {
        - my ($id, $url, $text) = @{$trade_item}{'id', 'url', 'text'};
        - my $trade_class = $trade_item->{'class'} || ' ';
        - my $trade_link_class = $trade_item->{'link_class'} || ' ';
        - my $trade_sub_items = $trade_item->{sub_items} || '';
        %li{:id=>"#{$id}", :class=>"item #{$trade_class}"}
          %a{:class=>"pjaxload link #{$trade_link_class}", :href=>"#{$url}"}= $text
          - if ($trade_sub_items) {
            %ul{:class=>"sub_items"}
              - foreach my $trade_sub_item (@{ $trade_sub_items }) {
              - my ($sub_id, $sub_url, $sub_text) = @{$trade_sub_item}{'id', 'url', 'text'};
              - my $trade_sub_class = $trade_sub_item->{'class'} || ' ';
              - my $link_sub_class = $trade_sub_item->{'link_class'} || ' ';
                %li{:id =>"#{$sub_id}", :class=>"sub_item #{$trade_sub_class}"}
                  %a{:class=>"pjaxload link #{$link_sub_class}", :href=>"#{$sub_url}"}= $sub_text
              - }
          - }
        - }
