.sidebar-right
  .open-account.by_client_type.client_logged_out.client_virtual
    %p= l('Get started with just $5')
    %a.pjaxload{:href => url_for('open_account.cgi')}= l('Open a Free account')
  .by_client_type.client_logged_out
    %p
      %a.pjaxload{:href => url_for('linkto_acopening.cgi?actype=virtual')}= l('Try it now')
      %br
      = l('No risk, $10K virtual money account')
  %div
    %p
      = l('Want to learn more?')
      %br
      %a.pjaxload{:href => url_for('/tour')}= l('View the Tour')
