- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Commodities and Smart Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Get Started'),
-   emailtext   => l('Enter your email'),
-   passwordstext   => l('Choose a password'),
-   reenter_password => l('Re-enter your password'),
- );
#banner
  .grd-container
    .grd-grid-12.grd-row-padding
      .grd-grid-7.grd-grid-mobile-12.grd-grid-phablet-12
        #xtop
          %h1.dark= l('The Premier Platform for Binary Options Trading')
          %ul.checked.break
            %li!= l('Real-time Prices')
            %li!= l('Returns above 100%')
          %p.break= l('Trade 24/7, even on weekends.')
          %p.no-break= l('Customize your trades to meet your needs.')
      .grd-grid-1.grd-hide-mobile.grd-grid-phablet-2
      #open-account.grd-grid-4.grd-grid-mobile-12.grd-grid-phablet-8
        %h3= l('Create Free Account')
        %form#virtual-acc-form
          %span#virtual-fields
            .grd-parent
              %span.grd-grid-12.grd-no-gutter
                %input.virtual-acc-left{:id => 'email', :placeholder => stash('emailtext')}
                %p.error-message#signup_error{:style => 'display:none'}
            %span.grd-grid-12.grd-no-gutter
              %input.button.xtopcta{:id => 'btn_acc_opening', :type => 'submit', :value => stash('createacc')}
      .grd-grid-0.grd-hide-mobile.grd-grid-phablet-2
.grd-container
  %hr.xtopseparator
  #xsection1
    .grd-grid-12.grd-parent
      %h1.center= l('The easiest way to get started in the financial markets')
      %p.center= l("Trade in the world's financial markets in a simple, user-friendly platform.")
      .grd-grid-7.grd-grid-mobile-12.grd-parent
        %img.responsive{:alt => "", :src => url_for("images/pages/tour/trade-tutorial_1.svg")}
      .grd-grid-5.grd-grid-mobile-12.grd-parent
        %ul
          %li!= l('<span>All markets:</span> currencies, stock indices, and commodities.')
          %li!= l('<span>All market conditions:</span> up/down, touch/no-touch, stays in/goes out.')
          %li!= l('<span>All durations:</span> from 10 seconds to 365 days.')
          %li!= l('<span>All payouts:</span> from $1 to $100,000.')
#xcta
  #xreason
    .grd-container
      .grd-row-padding
        %h1.center-aligned.xhead= l('Why choose us')
        .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-12
          %ul
            %li.xlist1
              %h3= l('Sharp prices')
              %p= l("Binary.com's patented pricing technology allows you to benefit from the same rates of return as traders in the interbank market.")
            %li.xlist2
              %h3= l('Your funds are safe')
              %p= l('With Binary.com, your money is secure. We segregate and hold client funds in secure AAA-rated banks.')
        .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-12
          %ul
            %li.xlist3
              %h3= l('Trade your way')
              %p= l("Don't limit yourself! Whatever your market view, Binary.com allows you to put your strategy to work and profit from your predictions.")
            %li.xlist4
              %h3= l('Go with the leader')
              %p= l('Binary.com is the award-winning industry pioneer in online options trading.')
#xacademy.ja-hide
  .grd-container
    .grd-row-padding
      %h1.center-aligned.head-academy= l('Binary.com academy')
      .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6.center
        %p!= l('Improve your trading skills with our free educational & training resources.')
      .grd-grid-3.grd-grid-mobile-12.grd-grid-phablet-6
      .grd-grid-3.grd-grid-mobile-12.grd-grid-phablet-6.center
        %img.responsive{:src => url_for("images/pages/home/academy-icon.svg")}
      .grd-grid-4.grd-grid-mobile-12.grd-grid-phablet-6
        %ul.checked
          %li= l('Free webinars')
          %li= l('Free daily market report')
          %li= l('Free E-books')
          %li= l('Free trading charts')
      .grd-grid-2.grd-grid-mobile-12.grd-grid-phablet-6
      .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6.center
        %p.academy-cta
          %a.button{:href=>"https://blog.binary.com", :target => '_blank'}
            %span= l('Start learning')
#xtestimonial
  .grd-container
    .grd-row-padding
      %h1.center-aligned.xhead= l('What our clients are saying')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
        .xquote
          %p!= l('&#8220;We have used www.binary.com for the last 8 years and highly recommend binary to all our members worldwide&#8221;')
        .xbubble-left
        .xquoter-left
          %p!= l('Joshua Cavallaro <span> Markets And You Trader.</span>')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-6
        .xquote
          %p!= l('&#8220;Binary.com is one of the oldest and trustworthy partners we ever had. We have worked together for many years.&#8221;')
        .xbubble-right
        .xquoter-right
          %p!= l('Andrei Asavei <span>Top Binary Options Brokers</span>')
#xpayment.center-aligned.ja-hide
  .grd-container
    .grd-row-padding
      %h1.center-aligned.xhead= l('Payment methods')
      .grd-grid-12
        %a.pjaxload{:href => url_for('/cashier')}
          #visa.inlined
          #mastercard.inlined
          #int_bank_wire.inlined
          #local_bank_transfer.inlined
          #western_union.inlined
          #citadel.inlined
          #neteller.inlined
          #okpay.inlined
          #fastpay.inlined
          #perfect_money.inlined
          #moneybrokers.inlined
        %p= l('Hundreds of deposit and withdrawal options.')
