- stash(title => l('Bulk Trader Facility'));

.grd-container.grd-default-container
  .bulk-trader-facility.static_full
    .grd-grid-3.grd-hide-mobile
      .sidebar
        %ul#sidebar-nav
          %li#sidebar-link-section-1.selected
            %a{:href => "#bulk-trader-facility"}= l('Bulk trader facility')
          %li#sidebar-link-section-2
            %a{:href => "#client-guide"}= l('Binary.com client\'s guide')
          %li#sidebar-link-section-3
            %a{:href => "#account-manager-guide"}= l('Account manager\'s guide')
          %li#sidebar-link-section-4
            %a{:href => "#benefits-of-bulk-trading"}= l('Financial benefits of bulk trading')
          %li#sidebar-link-section-5
            %a{:href => "#want-to-find-out-more"}= l('Want to find out more?')
        .sidebar-button
          %a.pjaxload{:href => url_for('contact')}= l('Contact Us')
    .grd-grid-9.grd-grid-mobile-12.grd-parent
      .section
        %a#bulk-trader-facility
        .section-content
          #section-1
            .grd-grid-12
              %h1= l('Bulk trade facility')
              %p
                %h2= l('Take advantage of our bulk trader facility')
              %p= l('Brokers and professional traders can now place trades on behalf of Binary.com clients with Binary.com’s bulk trader facility.')
              %p= l('This is very helpful for clients who don’t always have enough time, or expertise, to follow market trends, but still want to profit.')
              %p!= l("It’s also a major benefit for account managers, who are paid a commission for referring new clients to [_1]. For more on this <a href='#benefits-of-bulk-trading'>click here</a>.", stash->{website_name});
              %p= l('With our bulk trader facility, account managers do the trading, but clients maintain their own balances in their Binary.com accounts.')
              %p!= l("If you’re a client, and you’d like to know more about using an account manager to make trades for you, <a href='#client-guide'>click here</a>.")
              %p!= l("If you’re an account manager, and you’d like to know more about making bulk trades for your clients, <a href='#account-manager-guide'>click here</a>.")
            .clearfix
      .section
        %a#client-guide
        .section-content
          #section-2
            .grd-grid-12
              %h1= l('[_1] client\'s guide', stash->{website_name});
              %p= l('If you’d like to use an account manager to trade for you, you first need to authorize them. All you need to do is get an API token, which will be unique to you.')
              %p!= l("<strong>To get your API token:</strong>")
              %ol
                %li= l('Log in to your [_1] account.', stash->{website_name});
                %li!= l("Access the <strong>Settings</strong> section on the account.")
                %li= l('Get the API token located at the bottom of the page.')
                %p
                  %img.responsive{:src => url_for('images/pages/bulk_trade/api-token.png')}
                %li= l('Email the token to your account manager.')
            .grd-grid-12
              %p= l('The API key is like a permission to your account manager to trade on behalf of the clients.')
            .clearfix
      .section
        %a#account-manager-guide
        .section-content
          #section-3
            .grd-grid-12
              %h1= l('Account manager\'s guide')
              %p= l('You can place simultaneous trades for multiple clients once they authorize you. The only requirement is that all trades have the same value and are placed in the same currency.')
              %p= l('To trade for your clients, just take the following steps:')
              %ol
                %li= l('Contact each client to get their unique API token. (The API token authorizes you to place trades for your clients using funds in their Binary.com account)')
                %li!= l("Go to <a href='http://bulktrader.binary.com' target='_blank'>http://bulktrader.binary.com</a> and log in to the system using your binary.com trading account.")
                %li= l('Select Configure Bulk Clients at the top of the page.')
                %li= l('Insert your client’s name or login ID (under Party Name), and their token as shown in the image below. This will activate their API token.')
                %p
                  %img.responsive{:src => url_for('images/pages/bulk_trade/acc-manager-guide-1.png')}
                %li= l('Select Trading, at the top of the page, to purchase a contract for your client. At the top left, you will see your client’s name and details. Always confirm the client\'s details before buying a trade on their behalf.')
                %p
                  %img.responsive{:src => url_for('images/pages/bulk_trade/acc-manager-guide-2.png')}
                %li= l('Select the contract that you want to place on behalf of your client. Wait for the price details to be displayed and then click Buy. You will see the details at the top left. ')
            .grd-grid-12
              %p!= l("The contracts you buy for your client’s account will also be displayed on your <a href='http://bulktrader.binary.com' target='_blank'>BulkTrader</a> account.")
                %img.responsive{:src => url_for('images/pages/bulk_trade/acc-manager-guide-3.png')}
            .clearfix
      .section
        %a#benefits-of-bulk-trading
        .section-content
          #section-4
            .grd-grid-12
              %h1= l('Financial benefits of bulk trading')
              %p= l('When you refer new clients to [_1] through your affiliate link we will record your affiliate ID in the client’s records in our database. We will then pay you a commission for all activity in the bulk trading facility – just like when you refer clients who trade for themselves.', stash->{website_name});
              %p!= l("Just sign up via <a href='http://affiliates.binary.com' target='_blank'>http://affiliates.binary.com</a> to get your commissions.")
            .clearfix
      .section
        %a#want-to-find-out-more
        .section-content.grd-parent.grd-grid-12
          #section-5
            .grd-grid-12
              %h1= l('Want to find out more?')
              %p!= l("If you have clients who would like to authorize you to place trades on their behalf, feel free to contact our affiliate managers via <a href='mailto:affiliates\@binary.com'>affiliates\@binary.com</a> to ask questions or set things up.")
            .clearfix