- stash(
-   title => l('Job details'),
- );

.job-details.grd-container
  .grd-grid-12.grd-parent.static_full
    .grd-grid-12
      .grd-grid-3.grd-row-padding.grd-hide-mobile
        .grd-grid-12
          %h1#title
        .grd-grid-12
          %div.sidebar{:style => "display:none"}
            %ul#sidebar-nav
              %li#one
                %a{:href => "#section-one"}= l('Lorem ipsum')
              %li#two
                %a{:href => "#section-two"}= l('Lorem ipsum')
              %li#three
                %a{:href => "#section-three"}= l('Lorem ipsum')
              %li#four
                %a{:href => "#section-four"}= l('Lorem ipsum')
              %li#five
                %a{:href => "#section-five"}= l('Lorem ipsum')
      .grd-grid-9.grd-row-padding.center
        %img.responsive.dept-image{:src => url_for('images/pages/careers/IT.svg'), :style => "display:none"}
      .grd-grid-12.grd-row-padding.sections
          %div
      .contents{:style => "display:none"}
        #content-IT
          #IT-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #IT-section-two
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #IT-section-three
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #IT-section-four
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #IT-section-five
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Quants
          #Quants-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #Quants-section-two
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Marketing
          #Marketing-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #Marketing-section-two
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #Marketing-section-three
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #Marketing-section-four
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
          #Marketing-section-five
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Accounts
          #Accounts-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Compliance
          #Compliance-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Customer_Support
          #Customer_Support-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Human_Resources
          #Human_Resources-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Admin
          #Admin-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
        #content-Internal_Audit
          #Internal_Audit-section-one
            %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
            %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
            %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
