- stash(
-   title => l('Job details'),
- );

.job-details.grd-container
  .grd-grid-12.grd-parent.static_full
    .grd-grid-12
      .grd-grid-3.grd-row-padding.grd-hide-mobile
        .grd-grid-12.center
          %img.responsive.dept-image{:src => url_for('images/pages/careers/IT.svg'), :style => "display:none"}
        .grd-grid-12.grd-row-padding
          %h1#title.center
        .grd-grid-12.grd-row-padding
          %div.sidebar{:style => "display:none"}
            %ul#sidebar-nav
              %li#one
                %a{:href => "#section-one"}
              %li#two
                %a{:href => "#section-two"}
              %li#three
                %a{:href => "#section-three"}
              %li#four
                %a{:href => "#section-four"}
              %li#five
                %a{:href => "#section-five"}
      .grd-grid-9.grd-row-padding.sections
        %div

.contents{:style => "display:none"}
  #content-IT
    #IT-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
    #IT-section-two
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
    #IT-section-three
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
    #IT-section-four
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
    #IT-section-five
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')

  #content-Quantitative_Analysis
    #Quantitative_Analysis-section-one.Quantitative_Analyst
      %p= l('[_1]’s Quantitative Analytics group is responsible for the pricing of binary options offered on its website, as well as the risk management and profitability of its options book. Since all dealing on the company’s website is fully automated, our pricing and risk management algorithms must take full account of real-time pricing parameters, data feeds irregularities and latencies.', stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Develop derivatives pricing, risk management models and algorithms using C/C++, R, MATLAB, Perl, Python and Java')
        %li= l('Review, develop and enhance Perl, C++ and R codes used in options pricing, volatility forecasts, and risk management program')
        %li= l('Maintain accurate system pricing parameters')
        %li= l('Engage in data mining using SQL databases, R/S-Plus, OLAP and other analytical tools')
        %li= l('Monitor website trading activity and minimize abuse')
        %li= l('Generate periodic and special reports summarizing client trading trends')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('To qualify, you’ll need an advanced university degree in Physics, Financial Engineering or Mathematics and one or more of the following:')
        %li= l('Experience in exotic options pricing, volatility forecasts, high-frequency trading and the analysis of market inefficiencies')
        %li= l('Knowledge of probability theory, stochastic calculus, numerical methods, Monte-Carlo simulation, differential equations, econometrics, and statistical modeling')
        %li= l('Skill in the application of object-oriented programming languages (C++, Perl and Java) coupled with the ability to produce high quality code')
        %li= l('Skill in the use of financial information sources such as Bloomberg and Reuters')
        %li= l('Relevant experience in the use of Quant programming libraries and frameworks (Quantlib, PricingPartners, FINCAD, and NumeriX), and quant pricing platforms (SuperDerivatives and FENICS) would be a plus')
    #Quantitative_Analysis-section-two.Quantitative_Developer
      %p= l('The [_1] Quantitative Analytics group is responsible for the pricing of binary options offered on our website, as well as the risk management and profitability of its options book. Processing tens of thousands of transactions each day, the company manages a book of exotic options which arguably exceeds in complexity that of the typical derivatives desk.', stash->{website_name})
      %p= l('Since all dealing on the [_1] website is fully automated, our pricing and risk management algorithms must take full account of real-time pricing parameters, data feed irregularities and latencies.', stash->{website_name})
      %p= l("As a developer in the [_1] Quant Group, you will be responsible for the implementation and maintenance of the company's risk management and derivatives pricing software. You and the members of your team will develop software designed to study the market micro-structure, optimize existing code, manage financial data feeds and ensure the continuous running of our automated trading platform.", stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Work closely with other members of the team to develop software that would drive prices on our trading platform')
        %li= l('Review, develop and enhance codes used in option pricing and real time risk management programs')
        %li= l('Creating interfaces and tools to access market information, real-time and historical analysis of trading strategies')
        %li= l('Engage in data mining using SQL databases, R/S-Plus, OLAP and other analytical tools')
        %li= l('Monitor and optimize website trading activity')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('An advanced university degree in Mathematics, Physics or Engineering')
        %li= l('Advanced knowledge of software design principles')
        %li= l('Perl knowledge and/or readiness to learn is a must')
        %li= l('Experience with programming languages like Perl, Python, or Ruby coupled with the ability to produce high quality, self-documenting code, using test driven development techniques')
        %li= l('A preference and passion for Linux and open-source platforms')
        %li= l('Experience with languages like C/C++/R/Python/VBA/Mat lab/SQL would be a plus')
        %li= l('Knowledge of probability theory, numerical methods, Monte-Carlo simulation, statistical modeling, and time series analysis would be a plus')

  #content-Marketing
    #Marketing-section-one.Graphic_Designers
      %p= l("[_1] is looking to recruit several talented designers who are passionate about what they do best. As our design team is responsible for creating the graphics required to support our global marketing and advertising campaigns, the team's creative efforts span a number of channels, including online marketing, affiliate networks, print advertising, trade shows, special events, and promotional projects in a number of languages.", stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l("The candidates selected will be responsible for the design and creative direction of the company's website content and the production of its marketing materials. They will work directly with members of our marketing and software development teams to produce the graphics required to support and drive our e-commerce business")
        %li= l('These positions will present talented designers with a unique opportunity to develop their skills in graphics and creative design as valued members of an innovative marketing group')
    #Marketing-section-two.Marketing_Executives
      %p= l('[_1] is seeking several highly skilled Marketing Executives to join its team of talented professionals.', stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Assist senior members of the marketing team in implementing a broad array of promotional campaigns')
        %li= l("Develop the digital marketing content that appears on the company’s website")
        %li= l('Blog, using a variety of formats')
        %li= l('Promote the company using social media and other online channels')
        %li= l('Contribute your ideas, energy and creativity to further the company’s dynamic branding efforts')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('A strong and passionate interest in marketing')
        %li= l('Exceptional communication skills (both oral and written) in English')
        %li= l('A university degree in Marketing, Journalism, Communications or other business related discipline')
        %li= l('Prior experience in the financial services industry is preferred, as is an interest in Information Technology and/or Software Development')
    #Marketing-section-three.Copywriter
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l("Create clear, concise and engaging content for display on the company’s website")
        %li= l("Develop text that promotes the company’s product offerings  in a variety formats")
        %li= l('Educate prospects, clients, and partners regarding the benefits of [_1]’s innovative online trading platform', stash->{website_name})
        %p!= l('<strong>Requirements:</strong>')
        %ul.bullet
          %li= l('The ability to translate information into clear, concise, and engaging content')
          %li= l('Effective English language skills, with attention to detail regarding punctuation, spelling, grammar, and syntax')
          %li= l('The ability to multi-task, balance deadlines, and reliably deliver high-quality content')
        %p!= l('<strong>Preferences:</strong>')
        %ul.bullet
          %li= l('The ability to speak and write in multiple languages')
          %li= l('Knowledge and experience in the financial services industry')
          %li= l('A background in IT development')
    #Marketing-section-four.Marketing_Project_Manager
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Coordinate project delivery; develop and update schedules, maintain task lists, and hold team members accountable for assigned deliverables')
        %li= l('Work with members of the marketing team to prepare detailed project requirements')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('Exceptional organizational skills; detail orientation and a strong work ethic')
        %li= l('Effective interpersonal skills, with the ability to mediate situations, resolve disputes, and implement effective solutions')
        %li= l('A strong and passionate interest in marketing and advertising')
        %li= l('The ability to communicate fluently in English (both oral and written)')
        %li= l('A university degree in Marketing, Communication, or Journalism')
      %p!= l('<strong>Preferences:</strong>')
      %ul.bullet
        %li= l('Substantial experience in a senior marketing or advertising role')
        %li= l('Related experience in the financial services industry')
        %li= l('The ability to speak several languages')
    #Marketing-section-five.Social_Media_Executive
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Develop and maintain a consistent and engaging brand voice throughout assigned social-media channels')
        %li= l('Identify, engage, and convert potential customers and business partners')
        %li= l('Strengthen relationships with our current client base')
        %li= l('Develop content that promotes the company through social media outlets')
        %li= l('Manage social-media advertising campaigns targeting potential clients and business partners')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('A strong and passionate interest in social media, marketing, and advertising')
        %li= l('The ability to communicate effectively in English (both oral and written)')
        %li= l('A university degree in Marketing, Communication, or Journalism')
      %p!= l('<strong>Preferences:</strong>')
      %ul.bullet
        %li= l('Significant experience in, Social Media, Marketing, and/or advertising')
        %li= l('Knowledge and experience in the financial services industry')
        %li= l('The ability to speak several languages')
    #Marketing-section-six.Country_Manager
      %p= l('The Country Manager will have overall operational responsibility for directing the growth and ongoing development of the local market. He or she will actively support the goal of increasing [_1]’s market presence and investigating business development opportunities.', stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Responsible for the recruiting, training and development of employees and affiliates to achieve assigned sales and marketing objectives ')
        %li= l('Prepare periodic and special reports on sales within the region and maintain a reporting structure with affiliates to collect data')
        %li= l('Support country appropriate products and regional capability strategies by coordinating business development activities and generating partnership leads')
        %li= l('Develop strong relationships with regulatory, governmental, and professional organizations in order to promote the business and contribute to the improvement of service delivery')
        %li= l('As legal representative of the company, ensure that all regulatory requirements are met')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l("A Bachelor’s degree in business or related discipline")
        %li= l("Five years of progressively responsible managerial experience in the region")
        %li= l('Managerial, analytical, organizational, financial, and verbal/written communication skills in both the regional language and English  ')
        %li= l('A sound understanding of the regulatory aspects of doing business in the region')
        %li= l('Strong computer skills in Excel, Word and PowerPoint')
    #Marketing-section-seven.Translator
      %p= l('[_1] is seeking qualified translation professionals familiar with specific target markets, languages, and cultures. By delivering a high level of translation and customer support services, you will be the company’s voice to our clients. You’ll work with colleagues in IT, Customer Support and Marketing to provide localized text and document translation services on our global website [_1]. This position will report to our Translation Project Manager.', stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %ul.bullet
        %li= l('Proofread existing content used on the company’s blogs and social media outlets')
        %li= l('Assist in the proofreading and recording of video presentations')
        %li= l('Process website content translations regularly and efficiently')
        %li= l('Ensure compliance with quality control standards governing website content')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('A native speaker with good command of English (oral and written)')
        %li= l('Will work with a simple web-based translation tool')
        %li= l('Previous experience with financial/binary options website services')
        %li= l('A university degree or accredited translation certification preferred')
    #Marketing-section-eight.Proofreader
      %p= l('[_1] is seeking a qualified proofreader with a flair for language and a meticulous eye for detail. You must be able to interact with our staff using a web-based translator interface. You’ll work with colleagues in IT, Customer Support and Marketing to provide localized text and document translation services on our global website [_1].', stash->{website_name})
      %p!= l('<strong>Duties and Responsibilities:</strong>')
      %p= l('Under the supervision of [_1]’s Translation Project Manager, you will:', stash->{website_name})
      %ul.bullet
        %li= l('Proofread and correct the content appearing on the company’s website, blogs and social media outlets, from English to the regional language and vice versa')
        %li= l('Use appropriate terminology, taking into account the style and nuance of the original text')
        %li= l('Maintain adequate speed and volume of output')
        %li= l('Process website content translations when a full time translator is unavailable')
        %li= l('Ensure compliance with the quality standards that govern our website content')
      %p!= l('<strong>Requirements:</strong>')
      %ul.bullet
        %li= l('A native speaker with good command of English (oral and written)')
        %li= l('Previous experience with financial and/or binary options trading websites')
        %li= l('A university degree or accredited translation certification preferred')
  #content-Accounts
    #Accounts-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
  #content-Compliance
    #Compliance-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
  #content-Customer_Support
    #Customer_Support-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
  #content-Human_Resources
    #Human_Resources-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
  #content-Admin
    #Admin-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
  #content-Internal_Audit
    #Internal_Audit-section-one
      %p= l('Lorem ipsum dolor sit amet, eum et reque sonet melius, impedit adolescens ad eos, id intellegat concludaturque pri. Eum homero omittantur ea, ne his nibh idque postea. Ei usu munere deseruisse comprehensam, ad pro odio appareat, tibique omittantur signiferumque id pri. Repudiare vituperatoribus sed ei. No qui saperet petentium, qui in diam recusabo voluptatibus.')
      %p= l('Qui eu nullam viderer feugait, est solum dicunt at, postea nostro feugait nam ad. Labore scripta sanctus his ne, audire ornatus percipit cu mei. Sea in volumus probatus dignissim, qui te clita molestie ponderum. Purto ipsum falli at vix, at quo scripta tibique, has illud ullamcorper ex.')
      %p= l('Aperiam appellantur cu eum, modo graeci mnesarchum eam at. Per ea nobis qualisque vituperata, te cibo ullum eam, postulant iudicabit sed an. Te lucilius mediocrem mea, ei aliquam lucilius detraxit qui. Ornatus graecis te eos. Ius ad fastidii suscipit, pri nihil saepe no, eum ne quem equidem.')
