- stash(title => l('Smart Indices'));

.grd-container.grd-default-container
  .smart-indices.static_full
    .grd-grid-3.grd-hide-mobile
      .sidebar
        %ul#sidebar-nav
          %li#sidebar-link-section-1.selected
            %a{:href => "#what-are-the-smart-markets"}= l('What are the Smart Markets?')
          %li#sidebar-link-section-2.selected
            %a{:href => "#smart-indices"}= l('Smart Indices')
          %li#sidebar-link-section-3
            %a{:href => "#world-fx-indices"}= l('World FX indices')
          %li#sidebar-link-section-4
            %a{:href => "#out-performance-indices"}= l('Outperformance Indices')
        .sidebar-button
          %a.pjaxload{:href => url_for('trade.cgi?market=smarties')}= l('Trade the Smart Indices')
    .grd-grid-9.grd-grid-mobile-12.grd-parent
      .section
        %a#what-are-the-smart-markets
        .section-content
          #section-1
            .grd-grid-12
              %h1= l('What are the Smart Markets?')
            .grd-grid-8.grd-grid-mobile-12
              %p= l('[_1]’s exclusive Smart Markets are built to key on a particular subset of the world’s markets. With a price derived from related assets, Smart Markets allow traders to take positions on a variety of market action.', stash->{website_name});
            .grd-grid-2.grd-hide-mobile
            .grd-grid-2.grd-grid-mobile-4.grd-centered-mobile
              %img.responsive{:src => url_for('images/pages/smart-indices/smart-indices-1.svg')}
      .section
        %a#smart-indices
        .section-content
          .grd-grid-12
            %h1= l("Smart Indices")
          .grd-grid-8.grd-grid-mobile-12
            %p= l('[_1]’s Smart Indices are created using relevant market data to closely track the corresponding Cash Index. With real time quotes and live charts, availability of short term contracts and extended market hours,  they provide more exciting opportunities to trade on financial markets.',stash->{website_name});
           .grd-grid-2.grd-hide-mobile
           .grd-grid-2.grd-grid-mobile-4.grd-centered-mobile
           %img.responsive{:src => url_for('images/pages/smart-indices/speedometer-icon.svg')}
      .section
        %a#world-fx-indices
        .section-content
          #section-2
            .grd-grid-12
              %h1= l('World FX indices')
              %p= l('[_1]’s World FX Indices are smart indices that measure the value of a currency against a basket of major currencies.', stash->{website_name})
            .grd-grid-4
              %p= ' '
              %img.responsive{:src => url_for('images/pages/smart-indices/smart-indices-2.svg')}
            .grd-grid-8
              %p= l('The USD Index is a weighted Index, measuring the US Dollar’s value against a basket of 5 global currencies (EUR, GBP, JPY, CAD, AUD), each weighted by 20%.')
            .grd-grid-12
              %p= l('The AUD Index is a weighted Index, measuring the Australian Dollar’s value against a basket of 5 global currencies (USD, EUR, GBP, JPY, CAD), each weighted by 20%.')
            .grd-grid-12
              %p= l('The EUR Index is a weighted Index, measuring the Euro’s value against a basket of 5 global currencies (USD, AUD, GBP, JPY, CAD), each weighted by 20%.')
            .grd-grid-12
              %p= l('The GBP Index is a weighted Index, measuring the British Pound’s value against a basket of 5 global currencies (USD, EUR, AUD, JPY, CAD), each weighted by 20%.')
      .section
        %a#out-performance-indices
        .section-content
          #section-3
            .grd-grid-12
              %h1= l('Outperformance Indices')
              %p= l('[_1]’s Outperformance Indices are Smart Indices that track the performance of one index against another. These indices are the ratios of the respective market spots multiplied by 1000.', stash->{website_name})
            .grd-grid-4
              %p= ' '
              %img.responsive{:src => url_for('images/pages/smart-indices/smart-indices-3.svg')}
            .grd-grid-8
              %p= l('The German vs UK Index measures the performance of the German Index relative to the UK Index. This outperformance index rises if the German Index performs better than the UK Index, and decreases if the UK Index performs better than the German Index.')
            .grd-grid-12
              %p= l('The German vs Swiss Index measures the performance of the German Index relative to the Swiss Index. This outperformance index rises if the German Index performs better than the Swiss Index, and decreases if the Swiss Index performs better than the German Index.')
            .grd-grid-12
              %p= l('The German vs French Index measures the performance of the German Index relative to the French Index. This outperformance index rises if the German Index performs better than the French Index, and decreases if the French Index performs better than the German Index.')
            .grd-grid-12
              %p= l('The German vs Dutch Index measures the performance of the German Index relative to the Dutch Index. This outperformance index rises if the German Index performs better than the Dutch Index, and decreases if the Dutch Index performs better than the German Index.')
           .clearfix
