- stash(
-   title => l('Charting'),
- );

.grd-grid-12
  %h1= l('Charting')
  %p= l('[_1] provides a variety of charts to help you determine what markets to trade on. Try them out.',stash->{website_name})
.grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
  .grd-grid-8.grd-with-padding
    %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}
      %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/highcharts.svg')}
  .grd-grid-12
    %h4
      %a.pjaxload{:href => '//webtrader.binary.com', :target => '_blank'}= l('Webtrader')
    %p= l('Flexible charting platform with a variety of customisable features.')
.grd-grid-3.grd-grid-mobile-6.grd-parent.ja-hide
  .grd-grid-8.grd-with-padding
    %a.pjaxload{:href => '//tradingview.binary.com', :target => '_blank'}
      %img.responsive.chart-type-icon{:src => url_for('images/pages/charting/light-charts.svg')}
  .grd-grid-12
    %h4
      %a.pjaxload{:href => '//tradingview.binary.com', :target => '_blank'}= l('TradingView')
    %p= l('Advanced charting platform with a wide range of technical indicators.')
