- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Commodities and Smart Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Create account'),
-   emailtext   => l('Enter your email'),
-   passwordstext   => l('Choose a password'),
- );
- my $lang = stash->{language};
%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
#zbacktop
  .zbanner1
    .grd-container
      .grd-grid-12.grd-parent
        .zhead
          %h1= l('The Premier Platform for Binary Options Trading')
          .grd-grid-4.grd-grid-mobile-12.grd-parent
            %i.fa.fa-line-chart
          .grd-grid-4.grd-grid-mobile-12.grd-parent
            %p!= l('Up to <span> 100% </span> Return <br> on Rise/Fall Trades')
          .grd-grid-4.grd-grid-mobile-12.grd-parent
            %p!= l('Up to <span> 1000% </span> Return <br> on Trades you Make')
        .zcta
          .button.pjaxload.zreal.pjaxload-focus.login-button
            %span= l('Open Account Now')
.grd-container
  #zsection1
    .grd-grid-12.grd-parent
      %p.zheader.center= l('The Easiest Way to Get Started in the Financial Markets')
      %p.center{:style => "font-size: 24px;"}= l('Trade in the world\'s financial markets in a simple, user-friendly platform.')
      .grd-grid-7.grd-grid-mobile-12.grd-parent
        %img.responsive{:alt => "", :src => url_for("images/pages/home3/trade-tutorial_1.svg")}
      .grd-grid-5.grd-grid-mobile-12.grd-parent
        %ul
          %li!= l('<i class="fa fa-check-square"></i><span> All markets:</span> currencies, stock indices, and commodities.')
          %li!= l('<i class="fa fa-check-square"></i><span> All market conditions:</span> up/down, touch/no-touch, stays in/goes out.')
          %li!= l('<i class="fa fa-check-square"></i><span> All durations:</span> from 10 seconds to 365 days.')
          %li!= l('<i class="fa fa-check-square"></i><span> All payouts:</span> from $1 to $100,000.')
.zbackground
  .grd-container
    #zsection2
      %p.zheader.center.zwhite= l('Why 1,000,000 People Around the World Trust us')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-12
        %ul
          %li
            %i.fa.fa-check-square-o
              %span= l('Sharp prices')
              %p= l('Binary.com\'s patented pricing technology allows you to benefit from the same rates of return as traders in the interbank market.')
          %li
            %i.fa.fa-check-square-o
              %span= l('Your funds are safe')
              %p= l('With Binary.com, your money is secure. We segregate and hold client funds in secure AAA-rated banks.')
      .grd-grid-6.grd-grid-mobile-12.grd-grid-phablet-12
        %ul
          %li
            %i.fa.fa-check-square-o
              %span= l('Trade your way')
              %p= l('Don\'t limit yourself! Whatever your market view, Binary.com allows you to put your strategy to work and profit from your predictions.')
          %li
            %i.fa.fa-check-square-o
              %span= l('Go with the leader')
              %p= l('Binary.com is the award-winning industry pioneer in online options trading.')
      .grd-grid-12.grd-parent
        .center{:style => "margin-top:20px;"}
          %i.fa.fa-lock{:style => "color:#e98024"}
            %span{:style => "color:#fff;font-size:12px;margin-right:20px;"}= l('We value your privacy and never share your information with anyone.')
.grd-container
  #zsection3
    .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6
      %p.zheader.center= l('What our Clients are Saying')
      .zquote
        %p!= l('<span class="zquotation">“</span>Binary.com is one of the oldest and trustworthy partners we ever had. We have worked together for many years.<span class="zquotation">”</span>')
      .zbubble-right
      .zquoter-right
        %p!= l('Andrei Asavei<span> Top Binary Options Brokers</span>')
    .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-6
      .zquote
        %p!= l('<span class="zquotation">“</span>We have used www.binary.com for the last 8 years and highly recommend binary to all our members worldwide<span class="zquotation">”</span>')
      .zbubble-left
      .zquoter-left
        %p!= l('Joshua Cavallaro<span> Markets And You Trader.</span>')
    .grd-grid-12.grd-grid-mobile-12.grd-grid-phablet-12
      .center.zmargin
        %i.fa.fa-lock.zprivacy
          %span= l('We value your privacy and never share your information with anyone.')
.overlay.shown.hidden
  .dialog
    %p.zvirtual-money= l('Get started now')
    %form#virtual-acc-form{:action => url_for('create_account.cgi'), :method => "post", :name => "oppAccForm"}
      %span#virtual-fields
        %span.grd-grid-12.grd-no-gutter.center
          %input#Email.zemail{:name => "Email", :placeholder => stash('emailtext'), :required => "required", :type => "email"}
        %span.grd-grid-12.grd-no-gutter.center
          %input#chooseapassword.zpass{:maxlength => "25", :name => "chooseapassword", :placeholder => stash('passwordstext'), :required => "required", :type => "password"}
            %input#actype{:name => "actype", :type => "hidden", :value => "virtual"}
              %input{:name => "l", :type => "hidden", :value => $lang}
        %span.grd-grid-12.grd-no-gutter.center
          %input#btn_registration.button.submit-button{:type => "submit", :value => stash('createacc')}

