- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Create free account'),
- );
- my $lang = stash->{language};

#banner
  .grd-container
    .grd-grid-9.grd-row-padding.grd-hide-mobile.grd-hide-phablet
      #slider
        .slides-container
          #slide-1.slides.invisibleslides
            %h1.dark= l('The premier platform for binary options trading')
            %p= l('Discover the easiest way to get started in the financial markets.')
            %h4
              %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
          #slide-2.slides.invisibleslides
            %h1.dark= l('Best-in-class pricing for binaries...')
            %p= l('Our exclusive pricing technology gives you the best possible opportunity to make your money work for you.')
            %h4
              %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
          #slide-3.slides.invisibleslides
            %h1.dark= l('10 seconds to 365 days...')
            %p= l('$1 to $100,000 payouts, low-risk to high-leverage, and much more. We offer limitless profit opportunities.')
            %h4
              %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
          #slide-4.slides.invisibleslides
            %h1.dark= l('Technology leader with more than 10 years experience...')
            %p= l('Trade with confidence with the industry pioneer.')
            %h4
              %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
          #slide-5.slides.invisibleslides
            %h1.dark= l('Novice or Expert...')
            %p= l('With payouts from $1 to $100,000, we have you covered.')
            %h4
              %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
        %ul.slides-pagination
          %li.current
            %a{:href => "#0"}
              != "&nbsp;"
          %li
            %a{:href => "#1"}
              != "&nbsp;"
          %li
            %a{:href => "#2"}
              != "&nbsp;"
          %li
            %a{:href => "#3"}
              != "&nbsp;"
          %li
            %a{:href => "#4"}
              != "&nbsp;"
    .grd-grid-3.grd-grid-mobile-12.grd-grid-phablet-12.grd-parent
      #open-account.grd-grid-12
        %p= l('Get your free $10k virtual money account')
        %form#virtual-acc-form{ :name => 'oppAccForm', :action => url_for('create_account.cgi'), :method => 'post' }
          %span#virtual-fields
            %span.acc-input
              %label.grd-grid-5{:for => 'Email'}= l('Your Email:')
              %span.grd-grid-7.grd-no-gutter
                %input{:name => 'Email', :id => 'Email', :type => 'email', :required => true}
            %span.acc-input
              %label.grd-grid-5{:for => 'residence'}= l('Country:')
              %span.grd-grid-7.grd-no-gutter
                %select#residence{:name => 'residence'}
                  %option{:value=>'default'}= l('Select Country')
                  - foreach my $country (countries_options()) {
                    - my ($country_code, $country_name) = ($country->{code}, $country->{name});
                    - if($country->{restricted}) {
                      %option{:value => $country_code, :disabled => 1}= $country_name
                    - } else {
                      %option{:value => $country_code}= $country_name
                    - }
                  - }
            %span.acc-input
              %label.grd-grid-5{:for => 'chooseapassword'}= l('Password:')
              %span.grd-grid-7.grd-no-gutter
                %input#chooseapassword{:name => 'chooseapassword', :type => 'password', :maxlength => '25', :required => true}
          %input#actype{:type => 'hidden', :name => 'actype', :value => 'virtual'}
          %input{:type => 'hidden', :name => 'l', :value => $lang}
          %input.button{:id => 'btn_registration',:type => 'submit', :value => stash('createacc')}
      .grd-with-padding.grd-grid-6.grd-hide-mobile.grd-hide-phablet
        %img.responsive{:src => url_for('images/pages/why-us/why-us-proven-record_1.svg')}
      .grd-with-padding.grd-grid-6.grd-hide-mobile.grd-hide-phablet
        %img.responsive{:src => url_for('images/pages/why-us/why-us-GBAF-award-2012.svg')}
#help
  .grd-container.grd-hide-mobile
    .grd-row-padding
      #trader-types.grd-grid-2.grd-hide-phablet
        #new-trader.center-aligned
          %img.responsive{:src => url_for('images/pages/home/new-trader.svg')}
          %h4= l('New To Trading?')
          %span
            %a.learn-more.pjaxload{:href => url_for('/get-started')}= l('Learn More')
        #experienced-trader.center-aligned
          %img.responsive{:src => url_for('images/pages/home/experienced-trader.svg')}
          %h4= l('Experienced Traders')
          %span
            %a.learn-more.pjaxload{:href => url_for('/why-us')}= l('Learn More')
      #trading-steps.grd-parent.grd-grid-10.grd-grid-phablet-12
        .grd-parent.grd-grid-9.grd-grid-phablet-12
          .grd-grid-12.grd-parent
            #how-it-works-1.grd-grid-4.grd-no-gutter-right
              %img.responsive{:src => url_for('images/pages/home/step-1.svg')}
            #how-it-works-2.grd-grid-4.grd-no-gutter-right
              %img.responsive{:src => url_for('images/pages/home/step-2.svg')}
            #how-it-works-3.grd-grid-4.grd-no-gutter-right
              %img.responsive{:src => url_for('images/pages/home/step-3.svg')}
          .grd-grid-12.grd-parent
            .grd-grid-4.grd-no-gutter-right
              %p= l('Set your position')
            .grd-grid-4.grd-no-gutter-right
              %p= l('Get your price')
            .grd-grid-4.grd-no-gutter-right
              %p= l('Make your trade')
        #how-it-works-4.grd-grid-3.grd-grid-phablet-12.grd-centered-phablet
          %p= l('No risk, $10K virtual money account')
          %a.pjaxload{:href => url_for('linkto_acopening.cgi?actype=virtual'), :class => 'button'}
            %span= l('Try it now')
#ticker-container
    #hometicker
#returns
  .grd-container
    #prices.grd-grid-6.grd-grid-mobile-12.grd-parent
      .figures.grd-grid-6
        = l('Up to')
        %h1= l('[_1]', '100%')
        = l('return on')
        %a.pjaxload{:href => url_for('trade.cgi?market=forex&focus=risefall')}= l('rise/fall')
        = l('trades')
      .figures.grd-grid-6
        = l('Up to')
        %h1= l('[_1]', '1000%')
        = l('return on trades you make')
      .button.grd-grid-12.grd-with-padding
        %a.pjaxload{:href => url_for('trade.cgi'), :class =>  'button'}
          %span= l('View prices')
    #try-now.grd-grid-6.grd-grid-mobile-12.grd-parent
      .figures.grd-grid-6
        != l('More than [_1] trades available', '<h1>1,000,000</h1>')
      .figureses.grd-grid-6
        != l('Under [_1] for market-leading returns', '<h1>$1</h1>')
      .button.grd-grid-12.grd-with-padding
        %a.pjaxload{:href => url_for('open_account.cgi'), :class => 'button'}
          %span= l('Create free account')
