.grd-row-padding
%h1= l('Account Transfer')
%br
%form{:action => url_for('/cashier/account_transfer'), :method => 'POST'}
  %fieldset
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-3.form_label
        %label{:for => "transfer"}= l('Transfer')
      .grd-grid-9
        %select#transfer{:name => 'transfer', :id => 'account_transfer'}
          - if (stash('options')->{'1'}) {
              %option{ :value => "#{stash('options')->{'1'}->{'value'}}" }= stash('options')->{'1'}->{'text'}
          - }
          - if (stash('options')->{'2'}) {
              %option{ :value => "#{stash('options')->{'2'}->{'value'}}" }= stash('options')->{'2'}->{'text'}
          - }
        - if (flash('error') and flash('error')->{transfer}) {
          %p.errorfield= flash('error')->{transfer}
        - }
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-3.form_label
        %label{:for => "amount"}= l('Amount')
      .grd-grid-9.grd-parent
        .grd-grid-1.form_label
          %label= stash('currency')
        .grd-grid-11
          %input#acc_transfer_amount{:type => 'text', :name => 'amount', :placeholder => "#{l('Amount')}"}
          - my $invisible_amount = 'invisible';
          - $invisible_amount = '' if (flash('error') and flash('error')->{amount});
          %p#invalid_amount.errorfield{:class => "#{$invisible_amount}"}= l('Invalid amount. Minimum transfer amount is 0.10, and up to 2 decimal places.')
          - my $invisible_curr = 'invisible';
          - $invisible_curr = '' if (flash('error') and flash('error')->{currency});
          %p#invalid_currency.errorfield{:class => "#{$invisible_curr}"}= l('Invalid currency.')
          %input#currency{:type => 'hidden', :name => 'currency', :value => "#{stash('currency')}"}
    .grd-parent.grd-grid-12.grd-row-padding
    .grd-parent.grd-grid-12.grd-row-padding
      .grd-grid-4
      .grd-grid-8
        %span.button
          %button#acc_transfer_submit.button{:name => "submit" :type => "submit"}= l('Transfer')

