.grd-grid-12
    %h1= title
    %p Your account transfer is successful. Your new balances are:
    .grd-row-padding.table-body
      .grd-grid-1
      .grd-grid-2
        %span= $loginid_1
      .grd-grid-5
        %span= $balance_1
    .grd-row-padding.table-body
      .grd-grid-1
      .grd-grid-2
        %span= $loginid_2
      .grd-grid-5
        %span= $balance_2


